.featured_content {
  height: 100vh;
  width: 95vw;
  margin: 15px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: px 0 0 0;
  .small_featured {
    height: fit-content;
    order: 2;
    padding: 0;
    margin: 200px 0 0 0;
    p {
      display: none;
    }
  }

  .large_featured {
    order: 1;
    width: 60%;
    object-fit: cover;
    height: 80%;
    text-align: center;
    h1 {
      text-align: left;
    }
    iframe {
      object-fit: cover;
      margin: 25px 0 0 0;
      height: 90%;
      width: 100%;
      border: none;
    }
    p {
      padding: 20px 80px;
    }
  }
}
