.large_featured {
  height: 100%;
  width: 98%;
  order: 1;
}

.small_featured {
  order: 2;
  width: fit-content;
  margin: 0;
}

.featured_content {
  width: fit-content;
  margin: 0 auto;
  iframe {
    overflow: hidden;
    height: 80vh;
    width: 100%;
    margin: 10px auto;
  }
}

.featured_content:not(:first-child) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (min-width: 1300px) {
  .featured_content {
  }
  .large_featured {
    width: 60vw;
    position: relative;
    p {
      position: absolute;
      width: 70%;
      left: 3%;
      bottom: 7%;
      background-color: black;
      opacity: 0.8;
      border-radius: 15px;
      padding: 10px;
    }
  }
  .small_featured {
    margin: 200px 0 0 0;
  }
}