.icon {
  height: 45px;
}

.icon:first-child {
  margin: 0 15px;
}

#search-input {
  margin-top: 5px;
  width: 30vw;
  background: url("../images/search_icon_ma.png");
  background-color: white;
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 99% 2px;
  padding-left: 10px;
  height: 30px;
}

header {
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: solid thin white;
  background-color: black;
}

header,
.nav-section,
.user-options {
  display: flex;
  flex-direction: row;
}

.user-options div {
  display: none;
  position: absolute;
  padding: 15px;
  border-radius: 10px;
  top: 60px;
  right: 5px;
  height: 100px;
  width: fit-content;
  max-width: 400px;
  border: solid white thin;
  background: black;
  opacity: 0.9;
  text-align: center;
  z-index: 10;
}
.user-options:hover {
  div {
    display: block;
  }
}

button {
  background-color: #a7ff94;
  width: 80px;
  height: 30px;
  border-radius: 25px;
}
#hamburger-icon {
  transition: transform 330ms ease-in-out;
}
.rotated {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
}
