#search-results {
  padding: 15px;
  width: 50vw;
  z-index: 99;
  top: 50px;
  opacity: 0.9;
  height: fit-content;
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: black;
  h1 {
    width: 100%;
  }
}
